extends /src/views/base.pug

block prepend title
	- title = "Edit Profile"

block append js
	script(src='/js/delivery-address.js')

block contents
	.row
		.col-md-3
			- page = 'profile'
			include ../../../views/partials/sidebar.pug
		.col-md-9.col-lg-7
			+page_header( 'Update account' )
			form( method="post" ).form-horizontal
				+csrf

				h3 Account details
				+input( 'email', 'Email', 'email', { value: user.email, left: 3, right: 5, required: true } )
				+input( 'text', 'First name', 'firstname', { value: user.firstname, left: 3, right: 5, required: true } )
				+input( 'text', 'Last name', 'lastname', { value: user.lastname, left: 3, right: 5, required: true } )

				h3 Delivery details

				p Would you like to receive a print copy of the quartley magazine?

				ul.join-options
					li.join-options__opt
						input(type='radio', name='delivery_optin', id='delivery_optin_yes' , value='true', required, checked=user.delivery_optin).js-delivery-opt
						label(for='delivery_optin_yes').btn Yes
					li.join-options__opt
						input(type='radio', name='delivery_optin', id='delivery_optin_no' , value='false', required, checked=!user.delivery_optin).js-delivery-opt
						label(for='delivery_optin_no').btn No
					li.join-options__opt

				.js-delivery-details(class={'hidden-js': !user.delivery_optin})
					+input( 'text', 'Address line 1', 'delivery_line1', { value: user.delivery_address.line1, left: 3, right: 5 } )
					+input( 'text', 'Address line 2', 'delivery_line2', { value: user.delivery_address.line2, left: 3, right: 5 } )
					+input( 'text', 'City/town', 'delivery_city', { value: user.delivery_address.city, left: 3, right: 5 } )
					+input( 'text', 'Postcode', 'delivery_postcode', { value: user.delivery_address.postcode, left: 3, right: 5 } )
				
				button.btn.join-btn Save
