extends /src/views/base.pug

block prepend title
	- title = "Edit Profile"

block contents
	.row
		.col-md-3
			- page = 'profile'
			include ../../../views/partials/sidebar.pug
		.col-md-9
			+page_header( 'Edit Profile' )
			form( method="post" ).form-horizontal
				+csrf
				.form-group
					label.col-md-3.control-label Avatar
					.col-md-5
						img( style="border-radius: 100%", src=user.gravatar + "?s=50&d=mm&r=g" )
						span.help-block Your avatar is managed at
							| 
							a( href="https://gravatar.com", target="_blank" ) Gravatar.com
							|  using your email address #{ user.email }
				hr
				+input( 'email', 'Email', 'email', { value: user.email, readonly: true, left: 3, right: 4, helpblock: Options( 'content-email-admin' ) } )
				hr
				+input( 'text', 'First name', 'firstname', { value: user.firstname, left: 3, right: 4 } )
				+input( 'text', 'Last name', 'lastname', { value: user.lastname, left: 3, right: 4 } )
				+input( 'textarea', 'Address', 'address', { value: user.address, left: 3, right: 4 } )
				+form_button( 'Update', 'primary', { left: 3 } )
