extends ../../../../../src/views/base.pug

block prepend title
	- title = app.title

block contents
	.row
		.col-md-3
			- page = 'tag'
			include ../../../views/partials/sidebar.pug
		.col-md-9
			.page-header
				h3 #{ title }
			.row
				.col-md-8
					if user.tag.id
						p You have a tag associated with your account, please keep it safe.
						.page-header
							h3 Lost Tag
						p If you've lost your tag, click "Revoke my tag" to ensure no one else can use it as soon as possible.
						p We can issue a replacement or reassociate your tag if you find it.
						a( href="/profile/tag/revoke" ).btn.btn-danger.outline Revoke Tag
					else
						p Once you've setup your direct debit you can collect a tag from #{ config.organisation }.
						p Visit #{ config.organisation } at any time when it's open to collect a tag.
						p Open evenings and public events are a good time to visit.
						p Scan the tag on a reader at #{ config.organisation } then contact the directors with the date/time you scanned it.
				.col-md-4( style="background-image:url(/imgs/tag.png);background-position:center;background-repeat:no-repeat;background-size:contain;height:250px;" )
