extends /src/views/base.pug

block prepend title
	- title = 'Revoke ' + app.title

block contents
	.row
		.col-md-3
			- page = 'tag'
			include /apps/profile/views/partials/sidebar.pug
		.col-md-9
			+page_header( title )
			p Are you sure you want to revoke your tag? It will no longer allow you access to the space or the tools.
			form( method="post" )
				+csrf
				button.btn.btn-danger Yes, Revoke
				|  
				a( href="/profile/tag" ).btn.btn-default No
