extends ../../../../../src/views/base.pug

block prepend title
	- title = app.title

block contents
	.row
		.col-md-3
			- page = 'tag'
			include ../../../views/partials/sidebar.pug
		.col-md-9
			.page-header
				h3 #{ title }
			p To complete the tag enrollment process please click Enroll below.
			form( method="post" action="/profile/enroll" ).form-horizontal
				include ../../../../../src/views/partials/csrf.pug
				.form-group
					label( for="enrollment_code" ).col-md-2 Code:
					.col-md-4
						input( name="enrollment_code", type="text", value=enrollment_code, readonly=( enrollment_code ? true : false ) )#enrollment_code.form-control
				.form-group
					.col-md-4.col-md-offset-2
						button.btn.btn-primary Enroll
							span.glyphicon.glyphicon-chevron-right
