extends /src/views/email.html.pug

block content
	p Hello #{ firstname },
	p The password to your #{ Options( 'organisation' ) } account has been changed.
	p If you didn't do this please contact us ASAP.
