extends ../../../../../src/views/base.pug

block prepend title
	- title = 'Disable ' + app.title

block contents
	.row
		.col-md-3
			- page = '2fa'
			include ../../../views/partials/sidebar.pug
		.col-md-9
			.page-header
				h3 #{ title }
			p For security reasons, you need to reauthenticate your password and your current one time password.
			hr
			form( method="post" ).form-horizontal
				include ../../../../../src/views/partials/csrf.pug	
				.form-group
					label( for='password' ).control-label.col-md-3 Password
					.col-md-4
						input( type='password', name='password' )#password.form-control
				.form-group
					label( for="code" ).control-label.col-md-3 One time code
					.col-md-4
						input( type='text', name='code', autocomplete="off" )#code.form-control
				.form-group
					.col-md-offset-3.col-md-9
						button.btn.btn-danger Disable
						|  
						a( href="/profile/2fa" ).btn.btn-default Cancel
