extends /src/views/base.pug

block prepend title
	- title = 'Disable ' + app.title

block contents
	.row
		.col-md-3
			- page = '2fa'
			include /apps/profile/views/partials/sidebar.pug
		.col-md-9
			+page_header( title )
			p For security reasons, you need to reauthenticate your password and your current one time password.
			hr
			form( method="post" ).form-horizontal
				+csrf
				+input( 'password', 'Password', 'password', { required: true, left: 3, right: 4 } )
				+input( 'number', 'One time code', 'code', { required: true, autocomplete: 'off', left: 3, right: 4 } )
				.form-group
					.col-md-offset-3.col-md-9
						button.btn.btn-danger Disable
						|  
						a( href="/profile/2fa" ).btn.btn-default Cancel
