extends /src/views/base.pug

block prepend title
	- title = app.title
block contents
	.row
		.col-md-3
			- page = '2fa'
			include /apps/profile/views/partials/sidebar.pug
		.col-md-9
			+page_header( title )
			p A time-based one time password is a form of two factor authentication that increases the security of your account. By securing it with something you know (your password), and something you have (your mobile device).
			p The one time password is generated every 30 seconds from an app on your mobile device such as Google Authenticator.
			p By enabling the one time password on your account you will need to supply your email, password and the correct one-time password in order to login.
			p: strong This is recommended for accounts with administrative privilages.
			hr
			if user.otp.activated
				.panel.panel-success
					.panel-body.text-success Two factor authentication is 
						strong enabled
						|  on your account.
				a( href="/profile/2fa/disable" ).btn.btn-danger.outline Disable Two Factor Authentication
			else
				.panel.panel-danger
					.panel-body.text-danger Two factor authentication is 
						strong disabled
						|  on your account.
				a( href="/profile/2fa/setup" ).btn.btn-primary Setup Two Factor Authentication
