extends ../../../../../src/views/base.pug

block prepend title
	- title = 'Activation'
	- heading = title
	- activeApp = 'admin'

block contents
	form( method="post" ).form-horizontal
		.form-group
			.col-md-12
				label( for="activated" )
					input( type="checkbox", name="activated", checked=member.activated, value="true" )#activated.checkbox-control
					|  User activated
		.form-group
			.col-md-12
				button.btn.btn-primary Update
