extends ../../../../../src/views/base.pug

block prepend title
	- title = 'Create Activity'
	- heading = title
	- activeApp = 'admin'

block contents
	- action = 'Create'
	include partials/activity-form.pug
