extends ../../../../../src/views/base.pug

block prepend title
	- title = 'Edit Activity'
	- heading = 'Edit "' + activity.name + '" Activity'
	- activeApp = 'admin'

block contents
	- action = 'Update'
	include partials/activity-form.pug
