extends /src/views/base.pug

block prepend title
	- title = "Emergency Contact"

block contents
	.row
		.col-md-3
			- page = 'emergency-contact'
			include ../../../views/partials/sidebar.pug
		.col-md-9
			+page_header( 'Emergency Contact' )
			form( method="post" ).form-horizontal
				+csrf
				+input( 'text', 'First name', 'firstname', { value: user.emergency_contact.firstname, left: 3, right: 4 } )
				+input( 'text', 'Last name', 'lastname', { value: user.emergency_contact.lastname, left: 3, right: 4 } )
				+input( 'text', 'Telephone', 'telephone', { value: user.emergency_contact.telephone, left: 3, right: 4 } )
				+form_button( 'Update', 'primary', { left: 3 } )
