extends /src/views/email.text.pug

block content
	| Hello #{ firstname }
	| #{'\n'}
	| Thanks for setting up your #{ Options( 'organisation' ) } membership account!
	| #{'\n'}
	| Now, to confirm your email just click Activate below and follow the instructions.
block action
	- action = 'Activate'
	- url = activation_url
	include /src/views/partials/action.text.pug
