extends /src/views/email.html.pug

block content
	h2 Welcome to South London Makerspace! 
	p Congratulations #{ firstname }! Your first payment has cleared, which means you're now a full member.
	p There are a few things you should do to make the most of your membership:

	h3 Discourse
	p If you haven't already, you should #[a( href="https://discourse.southlondonmakerspace.org/" ) sign in to our forum, Discourse], and introduce yourself. You can sign in with Google, Facebook, Twitter etc. or just choose a username and password.
	p Once you have a working Discourse username, you should #[a(  href="https://members.southlondonmakerspace.org/profile/discourse" ) link it to your membership by clicking here]. This will let you view all the members-only sections, and allow you to edit/create documentation pages.

	h3 Key Fob
	p To open the front door, and access restricted tools, you need a contactless key fob. Simply visit the space when it's open, collect a key fob, swipe the kiosk then follow the instructions.
	p Once your fob has been added to the system, you'll be able to open the door whenever you want. The shutter that closes up the space when everyone leaves is more restricted and requires two other shutter-operators to vouch for you.

	h3 Get Involved
	p Makerspace has no staff, so everything you see in the space is the result of members volunteering their time. This means you too! We expect every member to give more than just their membership fee.
	p If you're skilled with a particular tool, let us know if you can offer training. The bathroom can always use a wipedown and the floor can always be swept! Once you know the ropes, hosting open evening is a great way of meeting new people and showing off the space.

	h3 Make Something
	p This is why you joined! There's a #[a( href="https://discourse.southlondonmakerspace.org/c/projects" ) projects category on Discourse], so you can let everyone know what you're up to. You'll be tapping into the combined expertise and experience of hundreds of other makers, so your project can only be improved b y sharing it.

	p There is much more detail in #[a( href="https://discourse.southlondonmakerspace.org/t/introducing-south-london-makerspace-information-for-new-members/3721" ) this welcome message].

	p See you in the space!
