form( method="post" ).form-horizontal
	include ../../../../../../src/views/partials/csrf.pug
	.form-group
		label( for="name" ).col-md-2 Name:
		.col-md-4
			input( name="name", type="text", value=( item ? item.name : '' ), required )#name.form-control
	.form-group
		label( for="slug" ).col-md-2 Slug:
		.col-md-4
			input( name="slug", type="text", value=( item ? item.slug : '' ), required )#slug.form-control
			span.help-block Used by the API for linking to items.
	.form-group
		label( for="description" ).col-md-2 Description:
		.col-md-4
			input( name="description", type="text", value=( item ? item.description : '' ) )#description.form-control
			span.help-block Displayed where the item is listed
	.form-group
		label( for="guide" ).col-md-2 Guide URL:
		.col-md-4
			input( name="guide", type="text", value=( item ? item.guide : '' ) )#guide_url.form-control
			span.help-block A link to a guide about the item
			
	.form-group
		.col-md-4
			if item != undefined
				.list-group
				each action, p in item.actions
					h4.list-group-item-heading #{ action.text }
					p.list-group-item-text #{ action.slug }
				.form-group
					p: a( href="/settings/items/" + item.slug + "/edit/action").btn.btn-default
						span.glyphicon.glyphicon-plus
						|  Add Action
	.form-group
		.col-md-4.col-md-offset-2
			button.btn.btn-primary #{ formAction }
