extends ../../../../../src/views/base.pug

block prepend title
	- title = app.title
	- heading = title
	- activeApp = 'items'
	- formAction = 'Add Action'

block contents
	form( method="post" )
		include ../../../../../src/views/partials/csrf.pug
		if ! partial
			.form-group
				label( for="id" ) Action:
				select( name="id" )#slug.form-control
					option( disabled selected ) –
					each action, p in actions
						option(
							value=action._id
						) #{ action.text }
		.form-group
			button.btn.btn-primary #{ formAction }
