extends ../../../../../src/views/base.pug

block prepend title
	- title = app.title

block contents
	.row
		.col-md-3
			- page = 'permissions'
			include ../../../views/partials/sidebar.pug
		.col-md-9
			.page-header
				h3 #{ title }
			.list-group
				if permissions.length
					each permission, p in permissions
						span.list-group-item
							h4.list-group-item-heading
								a( href="/members?permission=" + permission.slug ) #{ permission.name }
							if permission.description
								p.list-group-item-text #{ permission.description }
							p( style="position: absolute; top: 1em; right: .15em;" )
								if permission.granted
									span.label.label-success( style="margin-right: 1em;")
										span.glyphicon.glyphicon-ok
										|  Granted
				else
					p You currently haven't been granted any permissions.
