+page_header( 'Emergency Contact' )
dl.dl-horizontal
	dt First Name
	dd #{ member.emergency_contact.firstname ? member.emergency_contact.firstname : '–'  }
	dt Last Name
	dd #{ member.emergency_contact.lastname ? member.emergency_contact.lastname : '–'  }
	dt Telephone
	dd #{ member.emergency_contact.telephone ? member.emergency_contact.telephone : '–'  }
