form( method="get" )
	input( type='hidden', name="limit", value=pagination.limit )
	.form-group
		label( for="permission" ).control-label Permission
		select( name="permission" ).form-control
			option( value="" ) Show all
			each permission, p in permissions
				option( value=permission.slug, selected=( search.permission == permission.slug ? true : false ) ) #{ permission.name }
	if access( 'superadmin' )
		+input( 'checkbox', null, 'show_inactive_members', { wide: true, options: [ 'Show inactive members' ] } )
	+input( 'text', 'First name', 'firstname', { value: search.firstname, wide: true } )
	+input( 'text', 'Last name', 'lastname', { value: search.lastname, wide: true } )
	if access( 'superadmin' )
		+input( 'email', 'Email', 'email', { value: search.email, wide: true } )
	+input( 'text', 'Discourse username', 'discourse', { value: search.discourse, wide: true, before: '@' } )
	+form_button( 'Search', { wide: true } )
