+page_header( 'Security' )
dl.dl-horizontal
	dt Tag
	dd #{ member.tag.id ? member.tag.id : '–' }
	if access( 'superadmin' )
		if member.activation_code
			dt Activation Code
			dd On file
		if member.password.reset_code
			dt Password Reset Code
			dd On file
		dt Password Tries
		dd #{ member.password.tries } #{ member.password.tries >= password_tries ? ' – Locked Out' : '' }
		dt 2FA
		dd #{ member.otp.activated ? 'Enabled' : 'Disabled' }
