.pw {
	line-height: normal;
	margin-bottom: 0.5em;
	width: 15em;
}

.pw:last-child {
	margin-bottom: 0;
}

.pw:before {
	font-family: "Glyphicons Halflings";
	content: "\e014";
	color: #ff0000;
	margin-right: 0.5em;
	vertical-align: middle;
}

.pw.pass:before {
	content: "\e013";
	color: #54cc54;
}
