body {
  padding-top: 20px;
  padding-bottom: 20px;
}
.logo {
  margin-bottom: 20px;
}
.bg {
  background: url('/assets/example/bg_blueplane.jpg') no-repeat center center;
  position: fixed;
  width: 100%;
  height: 350px;
  /*same height as jumbotron */
  top: 0;
  left: 0;
  z-index: -1;
}
.jumbotron {
  position: relative;
  color: white;
  text-shadow: #444 0 1px 1px;
  overflow: hidden;
  background: transparent;
}
.jumbotron .bg {
  background-image: url(/imgs/jumbo.jpg );
  background-size: cover;
  background-position: center;
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  -webkit-filter: blur(2px);
  filter: blur(2px);
}
.btn-link {
  border: none;
  background: transparent;
  color: #337ab7;
  padding: 0;
}
.btn-link:hover {
  color: #23527c;
}
