extends ../../../../../src/views/base.pug

block prepend title
	- title = 'Edit Action'
	- heading = 'Edit "' + action.slug + '" Action'
	- activeApp = 'settings'

block contents
	- formAction = 'Update'
	include partials/form.pug
