extends /src/views/base.pug

block prepend title
	- title = app.title

block navbar

block contents
	.row
		.col-md-8
			+page_header( app.title, { level: 'h2' } )
			.row
				.col-md-6
					include partials/form.pug
		.col-md-4
			+page_header( 'Join' )
			p If you are new around here why not join?
			a.btn.btn-default( href="/join" ) Join
