extends base.pug

block prepend title
	- title = "Error 500"
	- heading = "500: Server Error"

block breadcrumb

block contents
	p The server suffered an error.
	if error
		+page_header( 'Error' )
		pre #{ error }
