html
	body
		table( style="width: 600px; margin: auto; font-family: sans-serif; font-size: 11pt;" )
			tr( height="100" )
				td( valign="top" )
					img( src=config.audience + ""/imgs/logo.png" )
			tr
				td
					block content
			block action
			tr
				td
					p Thanks
					p #{ config.globals.organisation }
