extends base.pug

block navbar

block prepend title
	- title = "Maintenance"
	- heading = "Down for maintenance"

block contents
	p The membership system is currently down for maintenance
	p To update your membership, please contact #[+email('membership@thebristolcable.org')].
