table.table.table-striped.table-condensed
	thead
		tr
			th Name
			th Reason
	tbody
		each member in items
			tr
				td #[a(href='/members/' + member.uuid) #{member.fullname}]
				td= member.join_reason
