extends /src/views/base.pug

block prepend title
	- title = 'Edit API Key'
	- heading = 'Edit "' + key.name + '" Key'
	- activeApp = 'settings'

block contents
	- action = 'Update'
	include partials/form.pug
