form( method="post" ).form-horizontal
	+csrf
	+input( 'text', 'Value', 'value', { value: ( option && ! option.default ? option.value : '' ), placeholder: ( option && option.default ? option.value : '' ) } )
	+form_button( action )
