.page-header
	h3 &nbsp;
ul.nav.nav-pills.nav-stacked
	li( class=( page == 'home' ? 'active' : '' ) ): a( href="/profile" ) Welcome
	li( class=( page == 'profile' ? 'active' : '' ) ): a( href="/profile/update" ) Edit Profile
	li( class=( page == 'change-password' ? 'active' : '' ) ): a( href="/profile/change-password" ) Change Password
	li( class=( page == '2fa' ? 'active' : '' ) ): a( href="/profile/2fa" ) Two Factor Authentication
	li( class=( page == 'emergency-contact' ? 'active' : '' ) ): a( href="/profile/emergency-contact" ) Emergency Contact
	li( class=( page == 'tag' ? 'active' : '' ) ): a( href="/profile/tag" ) Tag
	li( class=( page == 'discourse' ? 'active' : '' ) ): a( href="/profile/discourse" ) Discourse
	li( class=( page == 'direct-debit' ? 'active' : '' ) ): a( href="/profile/direct-debit" ) Direct Debit
	if access( 'member' )
		li( class=( page == 'statement' ? 'active' : '' ) ): a( href="/profile/statement" ) Statement
		li( class=( page == 'permissions' ? 'active' : '' ) ): a( href="/profile/permissions" ) Permissions
