form( method="post", action="/login" )
	+csrf
	+input( 'email', 'Email', 'email', { wide: true } )
	+input( 'password', 'Password', 'password', { wide: true } )
	.form-group
		button( role="button" ).btn.btn-primary Login
		| &nbsp;
		a( href="/password-reset" ).btn.btn-default Forgotten Password
