form( method="post", action="/login" )
	p
		label( for="email" ) Email:
		input#email( name="email", type="text" ).form-control
	p
		label( for="password" ) Password:
		input#password( name="password", type="password" ).form-control
	p
		button.btn.btn-lg.btn-primary( role="button" ) Login
