$bp-join-form: 600px;
$bp-join-why: 768px;

.join-header {
	position: relative;
	background-color:  $c-black;
	color: white;
	margin: -22px 0 4rem;
	overflow: hidden;
	padding: 2rem;
	@media (min-width: $bp-join-form) {
		padding: 4rem;
	}
}

.join-header__bg {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	padding-bottom: (952 / 1440) * 100%;
	background: url(/static/imgs/join/header-small.jpg) no-repeat top center;
	background-size: 100%;

	&::after {
		content: "";
		position: absolute;
		left: 0;
		bottom: 0;
		width: 100%;
		height: 40%;
		background: linear-gradient(#{transparentize($c-black, 1)}, #{$c-black});
	}

	@media (min-width: $bp-join-why) {
		background-image: url(/static/imgs/join/header.jpg);
	}
}

.join-form {
	position: relative;
	max-width: 550px;
	margin: 0 auto;

	.alert.alert-danger {
		background-color: transparentize(#B51724, 0.2);
	}
}

.join-title {
	display: flex;
	align-items: center;
	justify-content: center;
	margin-bottom: 4rem;

	h1 {
		margin: 0;
	}
}

.join-title-logo {
	width: 100px;
	height: 100px;
	margin-right: 2rem;
	@media (min-width: 460px) {
		width: 150px;
		height: 150px;
	}
	@media (min-width: $bp-join-form) {
		width: 200px;
		height: 200px;
	}
}

.join-options {
	list-style: none;
	margin: 0 -0.5rem 2rem;
	padding: 0;
	@media (min-width: $bp-join-form) {
		display: flex;
	}
}

.join-options__opt {
	flex: 1 1 100%;
	margin: 0 0.5rem 1rem;

	@media (min-width: $bp-join-form) {
		margin-bottom: 0;
		max-width: 200px;
	}

	input[type=radio] {
		display: none;
	}

	label {
		display: block;
	}

	input[type=radio]:checked + label {
		background-color: darken($c-blue, 10%);
	}
}

.join-other-amount {
	margin-bottom: 2rem;

	body.has-js & {
		margin-top: -1rem;
	}

	input[type=radio] {
		display: none;
	}

	label {
		display: block;
	}

	input[type=radio]:checked + label .join-other-amount-box {
		border-color: darken($c-blue, 10%);
	}
}

.join-other-amount-box {
	display: inline-block;
	border: 4px solid $c-blue;
	border-radius: 3px;
	background-color: transparentize(white, 0.3);
	color: $c-black;
	font-family: "Roboto", sans-serif;
	font-size: 24px;
	font-weight: bold;
	padding: 0 15px;

	width: 100%;
	@media (min-width: $bp-join-form) {
		text-align: center;
		width: calc(33% - 0.5rem);
	}

	&:hover {
		border-color: darken($c-blue, 5%);
	}

	input {
		width: 45px;
		height: 40px;
		font-size: inherit;
		background: none;
		outline: 0;
		text-align: right;

		&::-webkit-inner-spin-button,
		&::-webkit-outer-spin-button {
			-webkit-appearance: none;
			margin: 0;
		}

		&,
		&:focus {
			box-shadow: none; // Override theme
		}
	}
}

.join-monthly {
	font-weight: normal;
	font-size: 14px;
}

.join-charge {
	margin-bottom: 0.5rem;
}

.join-btn {
	background-color: $c-green;
	width: 100%;

	@media (min-width: $bp-join-form) {
		width: auto;
		min-width: 200px;
	}

	&:hover {
		background-color: darken($c-green, 5%);
	}
}

.join-secure {
	position: relative;
	padding-left: 30px;
	opacity: 0.8;

	& > svg {
		position: absolute;
		top: 50%;
		left: 0;
		margin-top: -12px;
		width: 24px;
		height: 24px;
	}

	& > a {
		color: inherit;
		text-decoration: underline;
	}
}

.join-container {
	max-width: 1000px;
}

.join-why {
	text-align: center;
	margin-bottom: 2rem;
}

.join-reasons {
	list-style: none;
	margin: 0 auto;
	padding: 0;

	li {
		margin-bottom: 2rem;
	}

	img {
		display: block;
		width: 100%;
		margin-bottom: 20px;
	}
	
	.pull-left img,
	.pull-right img {
		@media (min-width: $bp-join-why) {
			margin-top: -53px;
		}
	}

	h2 span {
		color: $c-blue;
	}
}

.join-center-col {
	float: none;
	margin: 0 auto;

	@media (min-width: $bp-join-why) {
		h2 {
			text-align: center;
		}
	}
}

.join-footer {
	background-color: $c-black;
	background: url(/static/imgs/join/footer-small.jpg) no-repeat center;
	background-size: cover;
	color: white;
	margin-bottom: -22px;
	padding: 2rem;

	@media (min-width: $bp-join-why) {
		background-image: url(/static/imgs/join/footer.jpg);
	}
}
