$c-orange: #f7881f;
$c-dark-orange: #623204;

.poll-container {
	position: relative;
}

.poll-title {
	font-family: "Open Sans Condensed";
	font-weight: bold;
	line-height: 1.3;
	text-transform: uppercase;

	& > span {
		padding: 0.3rem 1rem;
		box-decoration-break: clone;
	}

	&.poll-title--white > span {
		background-image: linear-gradient(to bottom, transparent 10%, white 10%, white 90%, transparent 90%);
		color: $c-orange;
	}

	&.poll-title--orange > span {
		background-image: linear-gradient(to bottom, transparent 10%, $c-orange 10%, $c-orange 90%, transparent 90%);
		color: white;
	}
}

.poll-options {
	display: flex;
	flex-wrap: wrap;
	margin: 0 -0.5rem;

	& > input {
		position: absolute;
		opacity: 0;
	}

	& > .btn {
		margin: 0 0.5rem 1rem;
		flex: 1 1 calc(50% - 1rem);
		padding: 2rem;
		opacity: 0.3;
		background-color: $c-orange;
		&:hover {
			background-color: darken($c-orange, 10%);
		}
	}

	& > input:checked + .btn,
	& > input:invalid + .btn {
		opacity: 1;
	}
}

.poll-alert {
	background-color: $c-orange;
}

.poll-hand1 {
	float: right;
	margin: 1rem 0 1rem 2rem;
	width: 100px;
	@media (min-width: 460px) {
		width: 150px;
	}
	@media (min-width: 600px) {
		width: 200px;
	}
}

.poll-hand3 {
	float: right;
	margin: 1rem 0 1rem 2rem;
	width: 100px;
	@media (min-width: 460px) {
		width: 150px;
	}
}

// Poll landing page

.poll-header {
	position: relative;
	margin: 0 0 4rem;
	padding: 4rem 2rem;
	overflow: hidden;
	color: white;

	&::before {
		content: "";
		position: absolute;
		top: -5px;
		left: -5px;
		bottom: -5px;
		right: -5px;
		z-index: -1;
		background: url(/static/imgs/polls/header.jpg) center;
		background-size: cover;
		filter: blur(5px);
	}
}

.poll-header-title {
	display: flex;
	align-items: center;
	justify-content: center;
	max-width: 700px;
	margin: 0 auto;

	h1 {
		margin: 0;
		font-size: 24px;
		@media (min-width: 370px) {
			font-size: 32px;
		}
		@media (min-width: 600px) {
			font-size: 52px;
		}
		@media (min-width: 768px) {
			font-size: 68px;
		}
	}
}

.poll-header-logo {
	width: 100px;
	height: 100px;
	margin-right: 1rem;
	@media (min-width: 460px) {
		margin-right: 3rem;
		width: 150px;
		height: 150px;
	}
	@media (min-width: 600px) {
		width: 180px;
		height: 180px;
	}
}

.poll-ballot-box {
	float: right;
	margin: -60px 0 1rem 1rem;
	width: 100px;
	@media (min-width: 400px) {
		width: 160px;
	}
	@media (min-width: 600px) {
		width: 193px;
	}
}

.poll-campaign-box {
	position: relative;
	padding: 3rem 2.5rem 1rem;
	margin: 0 -1rem 2rem;
	@media (min-width: 600px) {
		padding: 3rem 3.5rem 1rem;
		margin: 0 0 2rem;
	}

	& > svg {
		position: absolute;
		z-index: -1;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;

		path {
			vector-effect: non-scaling-stroke;
		}
	}
}

.poll-campaign-title {
	display: flex;
	align-items: center;
	margin-bottom: 1rem;

	h3 {
		margin: 0;
	}

	svg {
		margin-right: 2rem;
		display: none;
		@media (min-width: 600px) {
			display: block;
		}
	}
}

.poll-campaign-toggle {
	position: absolute;
	opacity: 0;
}

.poll-campaign-text {
	position: relative;
	max-height: 70px;
	overflow: hidden;
	&::after {
		content: "";
		position: absolute;
		left: 0;
		bottom: 0;
		width: 100%;
		height: 50px;
		background-image: linear-gradient(to top, #fff3ea 0%, transparentize(#fff3ea, 1) 100%);
	}

	.poll-campaign-toggle:checked + & {
		max-height: none;
		&::after {
			display: none;
		}
	}

	@media (min-width: 992px) {
		max-height: none;
		&::after {
			display: none;
		}
	}
}

.poll-random-hand {
	position: absolute;
	z-index: -1;
	right: 0;
	top: 200px;
	width: 200px;
}

.poll-btn {
	box-shadow: 0 3px 4px transparentize($c-dark-orange, 0.7);
	width: 140px;
	flex: 0 0 140px;
	&,
	&:hover {
		background-color: $c-orange;
	}
}

.poll-actions {
	padding-top: 22px;
	margin-bottom: 2rem;
	color: $c-orange;
}

.poll-action {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 1rem;
}

.poll-action-title {
	font-family: "Open Sans Condensed";
	text-transform: uppercase;
	margin: 1rem 2rem 1rem 0;
	@media (min-width: 992px) and (max-width: 1199px) {
		font-size: 35px;
	}
}

.poll-footer {
	background-color: $c-orange;
	color: white;
	margin: 2rem 0 -22px;
	padding: 2rem 0;

	.poll-action {
		justify-content: center;
	}

	.poll-btn, .poll-btn:hover {
		background-color: white;
		color: $c-orange;
	}
}

