extends ../../../../../src/views/base.pug

block prepend title
	- title = app.title
	- heading = permission.name
	- activeApp = 'admin'

block append js
	script( type="text/javascript" ).
		jQuery(document).ready(function($) {
			$("tr[data-href]").click(function() {
				window.document.location = $(this).data("href");
			});
		});

block contents
	p Members with the "#{ permission.name }" permission.
	hr
	include ../../members/views/partials/member-table.pug
