extends /src/views/base.pug

block prepend title
	- title = app.title

block append js
	+passwordRequirementsJS
	script(src='/static/js/delivery-address.js')

block append css
	+passwordRequirementsCSS

block body
	header.join-header
		.join-header__bg

		.join-form
			.join-title
				div
					img(src='/static/svg/logo.svg').join-title-logo
				h1 Hello#[br]#{user.firstname}

			h3 Thank you!
			p.
				You are now an owner of independent media. With more people like you
				we can sustain and grow the Cable.

	.container
		.row
			.col-md-8.col-md-offset-2.col-lg-6.col-lg-offset-3
				h2 Almost there...

				.alert.alert-info Finish setting up your membership

				include /src/views/partials/flash

				form( method="post" ).form-horizontal
					+csrf

					h3 Your account

					p.
						You’ll be able to manage your membership using your email
						address and password.

					+input( 'password', 'Password', 'password', { required: true, id: 'password', class: 'pw-req', left: 4, right: 6 } )
					+input( 'password', 'Confirm password', 'verify', { required: true, id: 'verify', class: 'pw-mat', left: 4, right: 6 } )

					h3 Delivery details

					if user.gocardless.amount >= 3
						p.
							You are eligible for a
							#[b free copy of our quarterly newspaper]!
							We would also like to send you very occasional mail
							such as a reminder for the AGM.
						p.
							Can we send you our quarterly newspaper and very
							occasional mail? You can change your mind later.
						
					else
						.alert.alert-warning.
							You aren't eligible for a
							#[b free copy of our quarterly newspaper]
						p.
							Unfortunately it's not financial viable for us to send
							copies of the quarterly newspaper to members
							contributing less than £3 per month. However, we'd
							like to send you very occasional mail such as a reminder
							for the AGM.
						p.
							Can we send you very occasional mail? You can
							change your mind later.


					ul.join-options
						li.join-options__opt
							input(type='radio', name='delivery_optin', id='delivery_optin_yes' , value='true', required, checked).js-delivery-opt
							label(for='delivery_optin_yes').btn Yes
						li.join-options__opt
							input(type='radio', name='delivery_optin', id='delivery_optin_no' , value='false', required).js-delivery-opt
							label(for='delivery_optin_no').btn No
						li.join-options__opt

					.js-delivery-details
						+input( 'text', 'Address line 1', 'delivery_line1', { required: true, left: 4, right: 6, value: user.delivery_address.line1 } )
						+input( 'text', 'Address line 2', 'delivery_line2', { left: 4, right: 6, value: user.delivery_address.line2 } )
						+input( 'text', 'City/town', 'delivery_city', { required: true, left: 4, right: 6, value: user.delivery_address.city } )
						+input( 'text', 'Postcode', 'delivery_postcode', { required: true, left: 4, right: 6, value: user.delivery_address.postcode } )

					h3 And finally…

					p.
						Could you tell us what brings you to the Cable? It
						would really help us understand what we can do to
						make the the co-operative stronger.

					.form-group
						div.col-md-12
							h4 Why are you joining today?
							input(type='text', name='reason', required).form-control

					.form-group
						div.col-md-12
							h4 How did you hear about the Cable?
							input(type='text', name='how', required).form-control

					button.btn.join-btn Save
