extends /src/views/base.pug

block prepend title
	- title = "Change Password"

block append js
	+passwordRequirementsJS

block append css
	+passwordRequirementsCSS

block contents
	.row
		.col-md-3
			- page = 'change-password'
			include ../../../views/partials/sidebar.pug
		.col-md-9
			+page_header( 'Change Password' )
			form( method="post" ).form-horizontal
				+csrf
				+input( 'password', 'Current password', 'current', { required: true, left: 3, right: 4 } )
				+input( 'password', 'New password', 'new', { required: true, class: 'pw-req', left: 3, right: 4 } )
				+input( 'password', 'Verify password', 'verify', { required: true, class: 'pw-mat', left: 3, right: 4 } )
				+form_button( 'Update Password', 'primary', { left: 3 } )
