tr
	td
		p( style="padding: 2em 0;")
			a( style="text-decoration: none;", href=url )
				span( style="margin-top: 2em; border-radius: 3px; border: 1px solid red; color: red; padding: 10px;" ) #{ action }
