.row
	.col-md-12
		hr
		small.text-muted #{ Options( 'organisation' ) }, #{ Options( 'software-name' ) } &mdash;
			|  
			a( href="https://github.com/southlondonmakerspace/membership-system", target="_blank" ) Contribute on GitHub
		small.text-muted.pull-right
			| #{ git }
