form( method="post" ).form-horizontal
	+csrf
	.form-group
		label( for="name" ).col-md-2 Name:
		.col-md-4
			input( name="name", type="text", value=( key ? key.name : '' ), required )#name.form-control
	.form-group
		label( for="key" ).col-md-2 Key:
		.col-md-4
			input( name="key", type="text", value=( key ? key.key : '' ), required )#key.form-control
	.form-group
		label( for="capabilities" ).col-md-2 Capabilities:
		.col-md-6
			ul.list-group
			for capability, cap_key in capabilities
				li.list-group-item
					.row
						.col-md-2
							input( type="checkbox", name="capabilities[]", value=cap_key, id="capabilities_" + cap_key, checked=( key && key.capabilities && key.capabilities.indexOf( cap_key ) !== -1 ) )
						.col-md-10
							label( for="capabilities_" + cap_key )
								h4.list-group-item-heading=capability.name
								| #{ capability.description }
	.form-group
		.col-md-4.col-md-offset-2
			button.btn.btn-primary #{ action }
