form( method="post" ).form-horizontal
	+csrf
	+input( 'text', 'Name', 'name', { value: ( key ? key.name : '' ), required: true } )
	+input( 'text', 'Key', 'key', { value: ( key ? key.key : '' ), required: true } )
	+form_button( action )
