extends ../../../../../src/views/base.pug

block prepend title
	- title = 'Direct Debit'
	- heading = 'Cancel Subscription'

block contents
	p Are you sure you want to cancel your subscription?
	form( method="post" )
		p
			button( role="button").btn.btn-danger Yes, cancel my subscription
			a( href="/profile/direct-debit" ).btn.btn-default No
