extends /src/views/base.pug

block prepend title
	- title = 'Cancel contribution'

block contents
	.row
		.col-md-3
			- page = 'direct-debit'
			include /apps/profile/views/partials/sidebar.pug
		.col-md-9.col-lg-7
			+page_header( 'Cancel contribution' )
			p We're really sad that you're cancelling your membership. Maybe we can work it out?
			form( method="post" )
				+csrf
				.form-group
					label(for='reason') Why are you cancelling?
					select( name='reason', required ).form-control
						option( value='', selected, disabled) Select a reason
						option I no longer live in Bristol
						option I don't want to say
						option Other
				p
					button( role="button").btn.btn-danger.outline Cancel contribution
