extends ../../../../../src/views/base.pug

block prepend title
	- title = 'Direct Debit'
	- heading = title

block contents
	p Your Direct Debit mandate and subscription are set up. If you wish to make changes to the subscription, you must cancel it and set it up again.
	a( href="/profile/direct-debit/cancel-subscription" ).btn.btn-danger Cancel Subscription
