extends /src/views/base.pug

block prepend title
	- title = 'Direct Debit'

block contents
	.row
		.col-md-3
			- page = 'direct-debit'
			include /apps/profile/views/partials/sidebar.pug
		.col-md-9
			+page_header( 'Direct Debit' )
			.row
				.col-md-8
					p Your Direct Debit mandate and subscription are set up
						if amount
							| , you currently pay £#{ amount } per month
						| .
					p If you wish to make changes to the subscription, you must cancel it and set it up again.
					a( href="/profile/direct-debit/cancel-subscription" ).btn.btn-danger.outline Cancel Subscription
