extends /src/views/base.pug

block prepend title
	- title = 'Direct Debit'

block contents
	.row
		.col-md-3
			- page = 'direct-debit'
			include /apps/profile/views/partials/sidebar.pug
		.col-md-9
			+page_header( 'Direct Debit' )
			.row
				.col-md-9
					p The first step to becoming an active member is to setup a Direct Debit mandate with our payment provider, GoCardless.
			+page_header( 'Mandate' )
			.row
				.col-md-9
					p When you select to setup your mandate by clicking the button below, we will redirect you to our payment provider's secure form to collect your details without revealing them to us. This keeps your details secure in the hands of experts.
					a( href="/profile/direct-debit/setup-mandate" ).btn.btn-primary Setup Mandate
