extends /src/views/base.pug

block prepend title
	- title = 'Direct Debit'

block contents
	.row
		.col-md-3
			- page = 'direct-debit'
			include /apps/profile/views/partials/sidebar.pug
		.col-md-9
			+page_header( 'Direct Debit' )
			p You have setup a Direct Debit mandate, which authorises us to collect money from your account. The next step is to setup a monthly subscription.
			+page_header( 'Subscription' )
			p Setting up a subscription will allow us to charge you on a day of your choice each month.
			form( action="/profile/direct-debit/create-subscription", method="post" ).form-horizontal
				+csrf
				+input( 'number', 'Amount', 'amount', { before: '£', after: '.00', value: amount, min: amount, left: 3, right: 5 } )
				.form-group
					.col-md-offset-3.col-md-9
						span#helpBlock.help-block Our minimum membership fee is &pound;#{ Options( 'gocardless-minimum' ) } per month. However, if you cannot afford this, please email 
							a( href="mailto:" + Options( 'leader-email' ) + "?Subject=Discount" )=Options( 'leader-email' )
							|  and we can discuss alternatives. If you feel that the membership is worth more we invite you to pay what you think it's worth.
						
				.form-group
					label( for="day_of_month" ).col-md-3.control-label Day of month:
					.col-md-5
						select( name="day_of_month" )#day_of_month.form-control
							each date, d in dates
								if date == next_possible_charge_date
									option.selected( selected=true ) #{ date } &mdash; Earlist possible charge date
								else
									option #{ date }
							option( value='-1' ) Last day of the month
						if next_possible_charge_date
							span#helpBlock.help-block Direct Debits usually take around 7 days to process. Therefore, we've set the charge date to be as early as possible. However if you prefer to pay for your membership on a specific date (eg. the day after payday), please select it here. Note that this will delay the start of your membership.
				+form_button( 'Create Subscription', 'primary', { left: 3 } )
			+page_header( 'Mandate' )
			p You can cancel your Direct Debit mandate here or through your bank. This will cancel all pending and future payments.
			p: a( href="/profile/direct-debit/cancel-mandate" ).btn.btn-danger.outline Cancel Mandate
