extends /src/views/base.pug

block prepend title
	- title = 'Edit Option'
	- heading = 'Edit "' + option.key + '" Key'
	- activeApp = 'settings'

block contents
	- action = 'Update'
	include partials/form.pug
