extends /src/views/base.pug

block prepend title
	- title = app.title
	- heading = title
	- activeApp = 'settings'

block contents
	.table-responsive
		table.table.table-striped.table-condensed
			thead
				tr
					th Key
					th Value
					th Manage
			tbody
				each option in options
					tr
						td #{ option.key }
						td #{ option.value }
						td
							a( href="/settings/options/" + option.key + "/edit" ).btn.btn-default.btn-xs
								span.glyphicon.glyphicon-pencil
								|  Edit
							if ! option.default
								| 
								a( href="/settings/options/" + option.key + "/reset" ).btn.btn-default.btn-xs
									span.glyphicon.glyphicon-remove
									|  Reset
