extends /src/views/base.pug

block prepend title
	- title = app.title
	- heading = title
	- activeApp = 'actions'

block contents
	p: a( href="/settings/states/create" ).btn.btn-default
		span.glyphicon.glyphicon-plus
		|  Create State
	if states.length > 0
		.table-responsive
			table.table.table-striped.table-condensed
				thead
					tr
						th Slug
						th Text
						th Edit
				tbody
					each state, p in states
						tr
							td #{ state.slug }
							td #{ state.text }
							td: a( href="/settings/states/" + state.slug + "/edit" )
								span.glyphicon.glyphicon-pencil
	else
		hr
		+messageBlock( 'info', 'There are no states to display.' )
