extends /src/views/base.pug

block prepend title
	- title = "Referrals"

block contents
	.row
		.col-md-3
			- page = 'referrals'
			include ../../../views/partials/sidebar.pug
		.col-md-9.col-lg-7
			+page_header( 'Referrals' )
			p.
				Refer a friend to join the Cable and we'll send you both a
				gift as a thank you for helping us on the journey towards
				sustainability.

			p
				a(href='https://thebristolcable.org/referafriend', target='_blank').btn Find out more

			//-
				form( method="post" ).form-horizontal
					+csrf
					+input( 'email', 'Email address', 'email', { required: true, left: 3, right: 5 } )
					.form-group
						.col-md-offset-3.col-md-5
							button.btn.join-btn Send referral

				p Alternatively, you can send people this link:
			p Send the following link to your friends to refer them:
			pre= referralLink

			h3 Your referrees
			if referrals.length > 0
				.row
					ul.referrals-list
						each referral in referrals
							li.col-sm-6
								.panel.panel-default
									.panel-body.referrals-item
										div.referrals-item__icon
											svg(xmlns="http://www.w3.org/2000/svg", width="70", height="105", viewBox="4 0 16 24")
												<path fill="currentColor" d="M14.5 15h1.5v9l-3.958-3-4.042 3v-9h1.463c.83.582 1.381 1 2.537 1 .975 0 1.88-.415 2.5-1zm-2.5-12c-2.205 0-4 1.794-4 4s1.795 4 4 4c2.206 0 4-1.794 4-4s-1.794-4-4-4zm6.926 5.277c.051.147.074.297.074.445 0 .449-.222.883-.615 1.156-1.256.87-1.09.651-1.562 2.067-.198.591-.77.99-1.414.99h-.004c-1.549-.005-1.279-.088-2.528.789-.262.184-.569.276-.877.276s-.615-.092-.876-.275c-1.249-.878-.98-.794-2.528-.789h-.004c-.645 0-1.216-.399-1.413-.99-.473-1.417-.311-1.198-1.562-2.067-.395-.274-.617-.708-.617-1.157 0-.148.024-.298.074-.444.483-1.411.484-1.139 0-2.555-.05-.147-.074-.297-.074-.445 0-.45.222-.883.616-1.157 1.251-.868 1.089-.648 1.562-2.067.197-.591.769-.99 1.413-.99h.004c1.545.005 1.271.095 2.528-.79.262-.183.569-.274.877-.274s.615.091.876.274c1.249.878.98.795 2.528.79h.004c.645 0 1.216.399 1.414.99.473 1.416.307 1.197 1.562 2.067.394.273.616.707.616 1.156 0 .148-.023.299-.074.445-.483 1.41-.485 1.139 0 2.555zm-1.926-1.277c0-2.761-2.238-5-5-5-2.761 0-5 2.239-5 5s2.239 5 5 5c2.762 0 5-2.239 5-5z"/>
												if referral.referrerGift !== undefined
													g(transform="scale(0.6) translate(9, 6)")
														<path fill="#45905c" stroke="white" stroke-width="1" d="M5.48 10.089l1.583-1.464c1.854.896 3.028 1.578 5.11 3.063 3.916-4.442 6.503-6.696 11.312-9.688l.515 1.186c-3.965 3.46-6.87 7.314-11.051 14.814-2.579-3.038-4.301-4.974-7.469-7.911z"/>
										div
											h3= referral.referree.firstname
											if referral.referreeAmount < 3
												p.
													Not eligible for a gift
													#[a(href='https://thebristolcable.org/referafriend', target='_blank') (why?)]
											else if referral.referrerGift
												p You chose a#[br]#{ giftsById[referral.referrerGift].name }
											else if referral.referrerGift === ''
												p You chose not to receive a gift
											else
												a(href='/profile/referrals/' + referral.id).btn Choose gift
			else
				p.
					You'll be able to choose your gift here when your referred
					friends join.
