extends /src/views/base.pug

block navbar

block prepend title
	- title = app.title

block append js
	script( src="/js/password-requirements.js" )

block append css
	link( rel="stylesheet", href="/css/password-requirements.css" )

block contents
	.row
		.col-md-8
			+page_header( app.title, { level: 'h2' } )
			p Thanks for choosing to join #{ Options( 'organisation' ) }. Just so you know, you must be over 18 to become a member.
			
			form( method="post" ).form-horizontal
				+csrf
				+page_header( 'Login Details' )
				p To keep things simple we use your email address as your login username.
				
				+input( 'email', 'Email', 'email', { values: user.email, required: true, left: 3 } )
				
				+input( 'password', 'Password', 'pw-req', { required: true, id: 'password', class: 'pw-req', left: 3 } )
				+input( 'password', 'Verify password', 'pw-mat', { required: true, id: 'verify', class: 'pw-mat', left: 3 } )
				
				+page_header( 'Personal Details' )
				p As a membership organisation, we are legally required to keep your name and address on record and available for inspection.
				
				+input( 'text', 'First Name', 'firstname', { value: user.firstname, required: true, left: 3 } )
				+input( 'text', 'Last Name', 'lastname', { value: user.lastname,  required: true, left: 3 } )
				+input( 'textarea', 'Address', 'address', { value: user.address, required: true, left: 3 } )
				+form_button( 'Next', { left: 3 } )
		.col-md-4
			+page_header( 'Existing member' )
			p If you are already a member you can just login.
			include /apps/login/views/partials/form.pug
