form( method="post" ).form-horizontal
	+csrf
	+input( 'text', 'Text', 'text', { value: ( state ? state.text : '' ), required: true, helpblock: 'The text describing the state' } )
	+input( 'text', 'Slug', 'slug', { value: ( state ? state.slug : '' ), required: true, helpblock: 'Used by the API for linking to actions' } )
	+input( 'select', 'Colour', 'colour',  { value: ( state && state.colour ? state.colour : '' ), default: '–', options: [ 'default', 'Grey', 'primary', 'Dark Blue', 'info', 'Light Blue', 'success', 'Green', 'danger', 'Red', 'warning', 'Yellow' ], helpblock: 'The colour which represents this state' } )
	+input( 'text', 'Past tense', 'pastTense', { value: ( state ? state.pastTense : '' ), required: true, helpblock: 'The past tense version of a state (e.g. "was opened")' } )
	+input( 'text', 'Present tense', 'presentTense', { value: ( state ? state.presentTense : '' ), required: true, helpblock: 'The present tense version of a state (e.g. "is open")' } )
	+form_button( formAction )
