form( method="post" ).form-horizontal
	+csrf
	+input( 'text', 'Text', 'text', { value: ( state ? state.text : '' ), required: true, helpblock: 'The text describing the state', right: 4 } )
	+input( 'text', 'Slug', 'slug', { value: ( state ? state.slug : '' ), required: true, helpblock: 'Used by the API for linking to actions', right: 4 } )
	.form-group
		label( for="colour" ).col-md-2.control-label Colour
		.col-md-4
			select( name="colour", id="colour", required ).form-control
				option( value='default', selected=( state && state.colour == 'default' ? true : false ) ) Grey
				option( value='primary', selected=( state && state.colour == 'primary' ? true : false ) ) Dark Blue
				option( value='info', selected=( state && state.colour == 'info' ? 'true' : false ) ) Light Blue
				option( value='success', selected=( state && state.colour == 'success' ? true : false ) ) Green
				option( value='danger', selected=( state && state.colour == 'warning' ? true : false ) ) Red
				option( value='warning', selected=( state && state.colour == 'danger' ? true : false ) ) Yellow
			span.help-block The colour which represents this state
	+input( 'text', 'Past tense', 'pastTense', { value: ( state ? state.pastTense : '' ), required: true, helpblock: 'The past tense version of a state (e.g. "was opened")', right: 4 } )
	+input( 'text', 'Present tense', 'presentTense', { value: ( state ? state.presentTense : '' ), required: true, helpblock: 'The present tense version of a state (e.g. "is open")', right: 4 } )
	+form_button( formAction, 'primary' )
