extends ../../../src/views/base.pug

block prepend title
	- title = 'Reset Password'
	- heading = title

block navbar

block append js
	script( type="text/javascript" ).
		jQuery(document).ready(function($) {
			jQuery( '#password' ).popover( {
				trigger: 'focus',
				title: 'Password requirements:',
				content: '<p class="pw len">8 characters or more</p><p class="pw up">1 or more uppercase letters</p><p class="pw low">1 or more lowercase letters</p><p class="pw num">1 or more numbers</p>',
				html: true
			} );
			jQuery( '#password' ).on( 'keyup paste', function( e ) {
				var pw = jQuery( this ).val();

				if ( pw.length < 8 ) {
					jQuery( '.pw.len' ).removeClass( 'pass');
				} else {
					jQuery( '.pw.len' ).addClass( 'pass');
				}

				if ( pw.match( /\d/g ) == null ) {
					jQuery( '.pw.num' ).removeClass( 'pass');
				} else {
					jQuery( '.pw.num' ).addClass( 'pass');
				}

				if ( pw.match( /[A-Z]/g ) == null ) {
					jQuery( '.pw.up' ).removeClass( 'pass');
				} else {
					jQuery( '.pw.up' ).addClass( 'pass');
				}

				if ( pw.match( /[a-z]/g ) == null ) {
					jQuery( '.pw.low' ).removeClass( 'pass');
				} else {
					jQuery( '.pw.low' ).addClass( 'pass');
				}
			} );
		} );
	</script>

block append css
	style.
		.pw {
			line-height: normal;
			margin-bottom: 0.5em;
			width: 15em;
		}

		.pw:last-child {
			margin-bottom: 0;
		}

		.pw:before {
			font-family: "Glyphicons Halflings";
			content: "\e014";
			color: #d9534f;
			margin-right: 0.5em;
			vertical-align: middle;
		}

		.pw.pass:before {
			content: "\e013";
			color: #5cb85c;
		}

block contents
	form( method="post", action="/password-reset/change-password" ).form-horizontal
		include ../../../src/views/partials/csrf.pug
		.form-group
			label( for="password_reset_code" ).col-md-2 Reset code
			.col-md-4
				input( name="password_reset_code", type="text", value=password_reset_code readonly=( password_reset_code != '' ) )#password_reset_code.form-control
		.form-group
			label( for="password" ).col-md-2 Password
			.col-md-4
				input( type="password", name="password", required )#password.form-control
		.form-group
			label( for="verify" ).col-md-2 Verify
			.col-md-4
				input( type="password", name="verify", required )#verify.form-control
		.form-group
			.col-md-4.col-md-offset-2
				button.btn.btn-primary Change Password
