extends /src/views/splash.pug

block prepend title
	- title = 'Reset Password'

block navbar

block append js
	+passwordRequirementsJS

block append css
	+passwordRequirementsCSS

block splash-contents
	h3 Reset your password
	p Set a new password to login

	include /src/views/partials/flash.pug

	form( method="post", action="/password-reset/change-password" )
		+csrf
		if password_reset_code
			input(type='hidden', name='password_reset_code', value=password_reset_code)
		else
			.form-group
				label(for='code') Reset code
				input(type='text', name='password_reset_code', required).form-control.pw-req#code
		.form-group
			label(for='password') Password
			input(type='password', name='password', required).form-control.pw-req#password
		.form-group
			label(for='verify') Confirm password
			input(type='password', name='verify', required).form-control.pw-mat#verify
		.form-group
			button.btn.btn-primary Change password
