extends /src/views/base.pug

block prepend title
	- title = 'Reset Password'
	- heading = title

block navbar

block append js
	+passwordRequirementsJS

block append css
	+passwordRequirementsCSS

block contents
	form( method="post", action="/password-reset/change-password" ).form-horizontal
		+csrf
		+input( 'text', 'Reset code', 'password_reset_code', { value: password_reset_code, readonly: ( password_reset_code ? true : false ) } )
		+input( 'password', 'Password', 'password', { required: true, id: 'password', class: 'pw-req' } )
		+input( 'password', 'Verify password', 'verify', { required: true, id: 'verify', class: 'pw-mat' } )
		+form_button( 'Change Password', 'primary' )
