extends /src/views/splash.pug

block prepend title
	- title = app.title

block splash-contents
	h3 Reset your password
	p Enter your email address and we'll send you an email with a link to reset your password.

	include /src/views/partials/flash.pug

	form( method="post" )
		+csrf
		.form-group
			label( for="email" ) Email address
			input( type="email", name="email", required )#email.form-control
		.form-group
			button.btn.btn-primary Reset Password
