extends /src/views/base.pug

block prepend title
	- title = app.title
	- heading = title

block navbar

block contents
	p To reset your password, enter your email address. You will receive an email with a link to reset your password.
	form( method="post" ).form-horizontal
		+csrf
		+input( 'email', 'Email address', 'email' )
		+form_button( 'Reset password' )
