extends ../../../src/views/base.pug

block prepend title
	- title = app.title
	- heading = title

block contents
	p To reset your password enter your email address and you will receive an email with a link to reset your password.
	form( method="post", style="max-width: 300px;" )
		p
			label( for="email" ) Email address:
			input( type="email", name="email", required )#email.form-control
		p: button.btn.btn-primary Reset Password
