extends /src/views/base.pug

block prepend title
	- title = app.title
	- heading = title
	
block navbar

block contents
	.alert.alert-info Before you can activate your account, please enter your password.
	form( method="post" action="/activate" ).form-horizontal
		+csrf
		+input( 'text', 'Activation code', 'activation_code', { value: activation_code, required: true, readonly: ( activation_code ? true : false ) } )
		+input( 'password', 'Password', 'password', { required: true } )
		+form_button( 'Activate', 'primary' )
