@font-face {
    font-family: 'Source Sans Pro';
    src: url('/static/fonts/SourceSansPro-SemiBold.woff2') format('woff2'),
        url('/static/fonts/SourceSansPro-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Source Sans Pro';
    src: url('/static/fonts/SourceSansPro-Light.woff2') format('woff2'),
        url('/static/fonts/SourceSansPro-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Source Sans Pro';
    src: url('/static/fonts/SourceSansPro-Regular.woff2') format('woff2'),
        url('/static/fonts/SourceSansPro-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Source Sans Pro';
    src: url('/static/fonts/SourceSansPro-Bold.woff2') format('woff2'),
        url('/static/fonts/SourceSansPro-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url('/static/fonts/Roboto-Medium.woff2') format('woff2'),
        url('/static/fonts/Roboto-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url('/static/fonts/Roboto-Black.woff2') format('woff2'),
        url('/static/fonts/Roboto-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Open Sans Condensed';
    src: url('/static/fonts/OpenSansCondensed-Bold.woff2') format('woff2'),
        url('/static/fonts/OpenSansCondensed-Bold.woff') format('woff');
    font-weight: 900;
    font-style: normal;
}
