body {
	padding: 0;
	color: $c-black;
	font-size: 18px;

	&.dev {
		&:before {
			z-index: 1000;
			content: '';
			background: repeating-linear-gradient( 45deg, orange, orange 10px, black 10px, black 20px );
			position: fixed;
			top: 0;
			left: 0;
			right: 0;
			height: 3px;
			color: white;
			font-weight: bold;
			text-align: center;
			box-shadow: 0px 1px 5px rgba( 0, 0, 0, .25 );
		}
	}
}

h1,
h2,
h3,
h4 {
	font-family: "Roboto", sans-serif;
	font-weight: 500;
	color: inherit;
	line-height: 1;
}

h1 {
	font-size: 36px;
	@media (min-width: 460px) {
		font-size: 52px;
	}
	@media (min-width: 600px) {
		font-size: 68px;
	}
}

h2 {
	font-size: 28px;
	@media (min-width: 460px) {
		font-size: 42px;
	}
}

h3 {
	font-size: 26px;
}

a {
	color: $c-blue;
}

body.has-js .hidden-js {
	display: none;
}

body:not(.has-js) .hidden-nojs {
	display: none;
}

.wrapper {
	display: flex;
	flex-direction: column;
	height: 100vh;
}

.header,
.footer {
	flex-shrink: 0;
}

.main {
	flex: 1 0 auto;
}

.header {
	padding: 10px 0;
	font-weight: 600;
	margin-bottom: 22px;
	line-height: 50px;

	a,
	&:hover {
		color: $c-black;
	}
}

.header-logo {
	width: 50px;
	height: 50px;
	margin-right: 10px;
}

.splash-logo {
	display: block;
	margin: 0 auto;
	width: 170px;
	height: 170px;
}

.splash-container {
	max-width: 350px;
	margin: 0 auto;

	h3 {
		margin-bottom: 22px;
		text-align: center;
	}
}

.footer {
	background-color: #ecf0f4;
	color: #337ab7;
	padding: 22px 0;
	margin-top: 22px;

	a {
		color: inherit;
	}
}

.footer-links {
	list-style: none;
	margin: 0 -11px 1em;
	padding: 0;
	& > li {
		padding: 0 11px;
	}

	@media (min-width: 400px) {
		columns: 2;
	}

	@media (min-width: 768px) {
		float: right;
	}
}

.btn-link {
	border: none;
	background: transparent;
	color: #337ab7;
	padding: 0;

	&:hover {
		color: #23527c;
	}
}

.page-header {
	margin-top: 0;
}

label.question {
	font-weight: 600;
}

.navbar {
	box-shadow: none;
	-webkit-box-shadow: none;

	.container-fluid {
		padding-left: 0;
		.collapse.navbar-collapse {
			padding-left: 0;
			padding-right: 0;
		}
	}

	ul.nav.navbar-nav li a {
		border-radius: 3px;
	}
}

ul.nav.nav-tabs {
	margin-bottom: 15px;
}

.btn {
	text-transform: none;
	box-shadow: none;
	-webkit-box-shadow: none;
	font-family: "Roboto", sans-serif;
	font-weight: 900;
	font-size: 24px;
	transition: all .2s;

	background-color: $c-blue;
	&:hover {
		background-color: $c-blue--dark1;
	}

	&,
	&:hover,
	&:focus {
		color: white;
	}
}

.btn-xs {
	font-size: 12px;
}

.btn-sm {
	font-size: 15px;
}

.btn-success,
.btn-warning,
.btn-info,
.btn-danger,
.btn-primary,
.btn-default {
	&:hover,
	&:active {
		box-shadow: none;
		-webkit-box-shadow: none;
	}
}

.btn-success,
.btn-warning,
.btn-info,
.btn-danger,
.btn-primary {
	border: 0;
	&:hover,
	&:active {
		border: 0;
		box-shadow: 0;
		-webkit-box-shadow: 0;
	}
}

.alert {
	font-weight: 600;
	a {
		color: inherit;
		text-decoration: underline;
	}
}

.btn:after {
	transition: none;
}

.btn-group {
	.btn + .btn {
		border-left: 0;
	}
}

.list-group-item-danger a {
	color: red;
}

.panel-default {
	box-shadow: none;
	border: 1px solid #ddd;
}

.panel-default>.panel-heading {
	border-bottom: 1px solid #ddd;
	background-color: transparent;
}

.btn-danger.outline {
	background-color: transparent;
	border: 1px solid red;
	color: red;
}

.pagination {
	margin: 0;
}

.btn-success {
	border: 1px solid #54cc54;
	&:hover {
		border: 1px solid #54cc54;
	}
}
.admin-btns .btn {
	float: none;
}

@media (max-width:768px) {
	#menu {
		margin-left: 0px;
		padding-left: 1em;
	}
}

h4.list-group-item-heading .label {
	position: relative;
	top: -3px;
}

input[type=text],
input[type=password],
input[type=number],
input[type=email],
select {
	&.form-control {
		font-size: inherit;
		color: inherit;
	}
}

.form-group {
	margin-bottom: 30px;
	& + & {
		margin-top: -10px;
	}
}

dd {
	margin-bottom: 1rem;
}

.nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover {
	background-color: $c-blue;
}

.checkbox-inline, .radio-inline {
	padding-left: 25px;
	margin-right: 5px;
}

.radio input[type=radio], .radio-inline input[type=radio], input[type=radio] {
	margin-top: 7px;
}

.navbar-open {
	display: block;
	width: calc(100% - 30px);
	border-radius: 3px;
	outline: 0;
	border: 0;
	margin: 0 15px 11px;
	-webkit-appearance: none;
	appearance: none;
	color: white;
	text-align: left;
	line-height: 50px;
	padding-left: 16px;
	background: $c-blue;
	font-weight: 600;

	@media (min-width: 768px) {
		display: none;
	}

	.navbar-toggle .icon-bar {
		background: white;
	}

	.navbar-toggle {
		margin-right: 0;
	}
}

.navbar-profile {
	margin-bottom: 0;
}

a.alert {
	display: block;
	color: white;
}
