body {
	padding: 0;
	color: $c-black;
	font-size: 18px;

	&.dev {
		&:before {
			z-index: 1000;
			content: '';
			background: repeating-linear-gradient( 45deg, orange, orange 10px, black 10px, black 20px );
			position: fixed;
			top: 0;
			left: 0;
			right: 0;
			height: 3px;
			color: white;
			font-weight: bold;
			text-align: center;
			box-shadow: 0px 1px 5px rgba( 0, 0, 0, .25 );
		}
	}
}

h1,
h2,
h3,
h4 {
	font-family: "Roboto", sans-serif;
	font-weight: 500;
	color: inherit;
	line-height: 1;
}

h1 {
	font-size: 68px;
}

h2 {
	font-size: 42px;
}

h3 {
	font-size: 26px;
}

a {
	color: $c-blue;
}

body.has-js .hidden-js {
	display: none;
}

body:not(.has-js) .hidden-nojs {
	display: none;
}

.wrapper {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

.top {
	padding: 10px 40px;
	font-weight: 600;
	white-space: nowrap;
	margin-bottom: 22px;

	a,
	&:hover {
		color: $c-black;
	}
}

.top-content {
	max-width: 1170px;
	margin: 0 auto;
	display: flex;
	align-items: center;
}

.top-content__right {
	flex: 1 1 100%;
	text-align: right;
}

.top-logo {
	width: 50px;
	height: 50px;
	margin-right: 10px;
}

.main {
	flex: 1 1 100%;
}

.splash-logo {
  display: block;
  margin: 0 auto;
  width: 170px;
  height: 170px;
}

.splash-container {
  max-width: 350px;
  margin: 0 auto;

  h3 {
    margin-bottom: 22px;
    text-align: center;
  }
}

.footer {
  background-color: #ecf0f4;
  color: #337ab7;
  padding: 22px;
  margin-top: 22px;
}

.btn-link {
	border: none;
	background: transparent;
	color: #337ab7;
	padding: 0;

	&:hover {
		color: #23527c;
	}
}

.page-header {
	margin-top: 0;
}

.navbar {
	box-shadow: none;
	-webkit-box-shadow: none;

	.container-fluid {
		padding-left: 0;
		.collapse.navbar-collapse {
			padding-left: 0;
			padding-right: 0;
		}
	}

	ul.nav.navbar-nav li a {
		border-radius: 3px;
	}
}

ul.nav.nav-tabs {
	margin-bottom: 15px;
}

.btn {
	text-transform: none;
	box-shadow: none;
	-webkit-box-shadow: none;
	font-family: "Roboto", sans-serif;
	font-weight: 900;
	font-size: 24px;
	transition: all .2s;

	background-color: $c-blue;
	&:hover {
		background-color: darken($c-blue, 5%);
	}

	&,
	&:hover,
	&:focus {
		color: white;
	}
}

.btn-xs {
	font-size: 12px;
}

.btn-sm {
	font-size: 15px;
}

.btn-success,
.btn-warning,
.btn-info,
.btn-danger,
.btn-primary,
.btn-default {
	&:hover,
	&:active {
		box-shadow: none;
		-webkit-box-shadow: none;
	}
}

.btn-success,
.btn-warning,
.btn-info,
.btn-danger,
.btn-primary {
	border: 0;
	&:hover,
	&:active {
		border: 0;
		box-shadow: 0;
		-webkit-box-shadow: 0;
	}
}

.alert {
	font-weight: 600;
	a {
		color: inherit;
		text-decoration: underline;
	}
}

.btn:after {
	transition: none;
}

.btn-group {
	.btn + .btn {
		border-left: 0;
	}
}

.list-group-item-danger a {
	color: red;
}

.panel-default {
	box-shadow: none;
	border: 1px solid #ddd;
}

.panel-default>.panel-heading {
	border-bottom: 1px solid #ddd;
	background-color: transparent;
}

.btn-danger.outline {
	background-color: transparent;
	border: 1px solid red;
	color: red;
}

.pagination {
	margin: 0;
}

.btn-success {
	border: 1px solid #54cc54;
	&:hover {
		border: 1px solid #54cc54;
	}
}
.admin-btns .btn {
	float: none;
}

@media (max-width:768px) {
	#menu {
		margin-left: 0px;
		padding-left: 1em;
	}
}

h4.list-group-item-heading .label {
	position: relative;
	top: -3px;
}

input[type=text],
input[type=password],
input[type=number],
input[type=email],
select {
	&.form-control {
		font-size: inherit;
		color: inherit;
	}
}

.form-group {
	margin-bottom: 30px;
	& + & {
		margin-top: -15px;
	}
}

dd {
	margin-bottom: 1rem;
}

.nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover {
	background-color: $c-blue;
}

.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
}
