extends ../../../src/views/base.pug

block navbar
	.jumbotron
		h1 Welcome...
		p #{ config.about.text }
		p: a( href=config.about.link.url, target="_blank").btn.btn-primary #{ config.about.link.text }
		.bg

block contents
	.row
		.col-md-6
			.page-header
				h2 Join
			p: a( href="/join" ).btn.btn-primary.btn-block Join Now
		.col-md-6
			.page-header
				h2 Login
			include ../../login/views/partials/form.pug
