extends /src/views/base.pug

block prepend title
	- title = app.title

block contents
	.row
		.col-md-3
			- page = 'discourse'
			include /apps/profile/views/partials/sidebar.pug
		.col-md-9
			+page_header( 'Activate Discourse Link' )
			p We've sent an activation link to your Discourse Private Messages
			p Please click the link or copy the code to link your accounts.

			form( method="post", action="/profile/discourse/activate" ).form-horizontal
				+csrf
				+input( 'text', 'Activation code', 'activation_code', { left: 3, right: 4, value: activation_code, readonly: ( activation_code ? true : false ) } )
				.form-group
					.col-md-offset-3.col-md-6
						button.btn.btn-primary Activate
						|  
						a( href='/profile/discourse/cancel' ).btn.btn-default Cancel
