extends ../../../../../src/views/base.pug

block prepend title
	- title = app.title

block contents
	.row
		.col-md-3
			- page = 'discourse'
			include ../../../views/partials/sidebar.pug
		.col-md-9
			.page-header
				h3 Activate Discourse Link
			p We've sent an activation link to your Discourse Private Messages
			p Please click the link or copy the code to link your accounts.

			form( method="post", action="/profile/discourse/activate" ).form-horizontal
				include ../../../../../src/views/partials/csrf.pug
				.form-group
					label( for="activation_code" ).col-md-3.control-label Activation code:
					.col-md-6
						input( name="activation_code", type="text", value=activation_code, class=(  activation_code ? 'readonly' : '' ) )#activation_code.form-control
				.form-group
					.col-md-offset-3.col-md-6
						button.btn.btn-primary Activate
						|  
						a( href='/profile/discourse/cancel' ).btn.btn-default Cancel
