extends /src/views/base.pug

block prepend title
	- title = app.title

block contents
	.row
		.col-md-3
			- page = 'discourse'
			include /apps/profile/views/partials/sidebar.pug
		.col-md-9
			+page_header( title )
			.row
				.col-md-2
					p: img( style="border-radius: 100%", src=discourse_user.avatar )
				.col-md-10
					p Your account is linked to your Discourse profile
						|  
						a( target="_blank", href=discourse_path + "/users/" + discourse_user.user.username) @#{ discourse_user.user.username }
						| .
					+page_header( 'Unlink your account' )
					p You can unlink your account from Discourse by clicking below.
					a( href="/profile/discourse/unlink" ).btn.btn-danger.outline Unlink from Discourse
