extends /src/views/base.pug

block prepend title
	- title = 'Two Factor Authentication'
	- page = '2fa'

block contents
	.row
		.col-md-3
			include partials/sidebar.pug
		.col-md-9
			+page_header( title )
			form( method="post" ).form-horizontal
				+csrf
				if member.otp.activated
					.form-group
						.col-md-12
							p Are you sure you want to disable 2FA on this user account, the user will be notified.
							input( type="hidden", name="2fa-enabled", value="" )
							button.btn.btn-danger Yes, disable 2FA on this account
				else
					p This user does not have two factor authentication enabled. It can only be enabled by the user once they've logged in.
