extends ../../../src/views/base.pug

block prepend title
	- title = 'Two Factor Authentication'
	- heading = title
	- activeApp = 'members'

block contents
	form( method="post" ).form-horizontal
		include ../../../src/views/partials/csrf.pug
		if member.otp.activated
			.panel.panel-info
				.panel-body Two factor authentication is enabled on this account, by disabling it the user will have to set it up again.
			.form-group
				.col-md-12
					label( for="2fa-enabled" )
						input( type="checkbox", name="2fa-enabled", checked=member.otp.activated ? true : false, value="true" )#2fa-enabled.checkbox-control
						|  2FA Enabled
			.form-group
				.col-md-12
					button.btn.btn-primary Update
		else
			.panel.panel-info
				.panel-body This user does not have two factor authentication enabled, it can only be enabled by the user once they've successfully logged in.
