extends /src/views/base.pug

block prepend title
	- title = 'Activation'
	- page = 'activation'

block contents
	.row
		.col-md-3
			include partials/sidebar.pug
		.col-md-9
			+page_header( title )
			form( method="post" ).form-horizontal
				+csrf
				.form-group
					.col-md-12
						if member.activated
							input( type="hidden", name="activated", value="" )
							p Are you sure you want to deactivate this members account?
							button.btn.btn-danger Yes, deactivate account
						else
							input( type="hidden", name="activated", value="true" )
							p Are you sure you want to activate this members account?
							button.btn.btn-primary Yes, activate account
