extends /src/views/base.pug

block prepend title
	- title = 'Discourse'
	- page = 'discourse'

block contents
	.row
		.col-md-3
			include partials/sidebar.pug
		.col-md-9
			+page_header( title )
			form( method="post" ).form-horizontal
				+csrf
				+input( 'text', 'Username', 'username', { value: member.discourse.username, right: 4 } )
				+input( 'checkbox', '', 'activated', { value: member.discourse.activated, options: { activated: 'Activated' }, right: 4 } )
				+form_button( 'Update', 'primary' )
