extends /src/views/base.pug

block prepend title
	- title = 'GoCardless'
	- page = 'gocardless'

block contents
	.row
		.col-md-3
			include partials/sidebar.pug
		.col-md-9
			+page_header( title )
			form( method="post" ).form-horizontal
				+csrf
				+input( 'text', 'Mandate ID', 'mandate_id', { value: member.gocardless.mandate_id, right: 4 } )
				+input( 'text', 'Subscription ID', 'subscription_id', { value: member.gocardless.subscription_id, right: 4 } )
				+input( 'number', 'Minimum', 'minimum', { before: '£', after: '.00', value: member.gocardless.minimum, placeholder:Options( 'gocardless-minimum' ), right: 4 } )
				+form_button( 'Update', 'primary' )
