extends /src/views/base.pug

block prepend title
	- title = app.title
	- activeApp = 'members'

block append js
	script( src="/js/filter.js" )

block contents
	.row
		.col-md-3
			+page_header( 'Search' )
			include partials/search.pug
		.col-md-9
			+page_header( title, { small: count + ' of ' + total + ' displayed' } )
			if count > 0
				include partials/table.pug
				include partials/pagination.pug
			else
				+messageBlock( 'info', 'There are no members to display.' )
