extends ../../../src/views/base.pug

block prepend title
	- title = 'Discourse'
	- heading = title
	- activeApp = 'members'

block contents
	form( method="post" ).form-horizontal
		.form-group
			label( for="username" ).col-md-2 Username
			.col-md-4
				input( type="username", value=member.discourse.username, name="username" )#username.form-control
		.form-group
			.col-md-4.col-md-offset-2
				label( for="activated" )
					input( type="checkbox", name="activated", checked=member.discourse.activated, value="true" )#activated.checkbox-control
					|  Activated
		.form-group
			.col-md-4.col-md-offset-2
				label( for="clear" )
					input( type="checkbox", name="clear", value="true" )#clear.checkbox-control
					|  Clear activation code
		.form-group
			.col-md-4.col-md-offset-2
				button.btn.btn-primary Update
