extends /src/views/base.pug

block prepend title
	- title = 'Member'
	- activeApp = 'members'
	- page = 'overview'
	
block contents
	if ! access( 'admin' )
		.row
			.col-md-2
				img( style="border-radius: 100%", src=member.gravatar + "?s=150&d=mm&r=g" )
			.col-md-10
				+page_header( member.fullname, { level: 'h2' } )
				dl.dl-horizontal
					if member.discourse.activated && discourse != undefined
						dt Discourse
						dd: a( target="_blank", href=discourse_path + '/users/' + discourse.user.username ) @#{ discourse.user.username }
					dt Emergency Contact
					if member.emergency_contact.telephone
						dd On file
					else
						dd Not held
					dt Tag
					if member.tag.id
						dd Yes
					else
						dd No
			.col-md-10.col-md-offset-2
				include partials/permissions.pug
	else 
		.row
			.col-md-3
				include partials/sidebar.pug
			.col-md-9
				.row
					div( class=( access( 'superadmin' ) ? 'col-md-6' : 'col-md-12' ) )
						include partials/profile.pug
					if access( 'superadmin' )
						.col-md-6
							include partials/emergency_contact.pug
				if access( 'superadmin' )
					.row
						.col-md-6
							include partials/system.pug
						.col-md-6
							include partials/security.pug
				if access( 'superadmin' )
					.row
						.col-md-6
							include partials/discourse.pug
						.col-md-6
							include partials/gocardless.pug
				.row
					.col-md-12
						include partials/permissions.pug
				if access( 'superadmin' )
					.row
						.col-md-12
							include partials/payments.pug
