extends /src/views/base.pug

block prepend title
	- title = 'Permissions'
	- page = 'permissions'

block contents
	.row
		.col-md-3
			include partials/sidebar.pug
		.col-md-9
			.col-md-8
				+page_header( "Permissions" )
				.list-group
					if member.permissions.length > 0
						- admin_area = true
						each permission, p in member.permissions
							include /src/views/partials/permission.pug
					else
						p This member has no permissions.
			.col-md-4
				+page_header( "Grant" )
				- action = 'Grant'
				include partials/permission-form.pug
			
