extends ../../../src/views/base.pug

block prepend title
	- title = 'Edit Member Permission'
	- heading = 'Update "' + current.permission.name + '" Permission'
	- activeApp = 'members'

block contents
	- action = 'Update'
	- partial = true
	include partials/permission-form.pug
