extends /src/views/base.pug

block prepend title
	- title = 'Edit Member Permission'
	- page = 'permissions'

block contents
	- action = 'Update'
	- partial = true
	.row
		.col-md-3
			include partials/sidebar.pug
		.col-md-9
			+page_header( 'Update "' + current.permission.name + '" Permission' )
			include partials/permission-form.pug
