extends ../../../src/views/base.pug

block prepend title
	- title = 'Tag'
	- heading = title
	- activeApp = 'members'

block contents
	form( method="post" ).form-horizontal
		include ../../../src/views/partials/csrf.pug
		.form-group
			label( for="tag" ).col-md-2 Tag
			.col-md-4
				input( type="tag", value=member.tag.id, name="tag" )#tag.form-control
		.form-group
			.col-md-4.col-md-offset-2
				button.btn.btn-primary Update
