extends /src/views/base.pug

block prepend title
	- title = 'Tag'
	- page = 'tag'

block contents
	.row
		.col-md-3
			include partials/sidebar.pug
		.col-md-9
			+page_header( title )
			form( method="post" ).form-horizontal
				+csrf
				+input( 'text', 'ID', 'tag', { value: member.tag.id, minlength: 8, maxlength: 8, right: 4 } )
				+form_button( 'Update', 'primary' )
