extends /src/views/base.pug

block prepend title
	- title = 'Profile'
	- page = 'profile'

block contents
	.row
		.col-md-3
			include partials/sidebar.pug
		.col-md-9
			+page_header( title )
			form( method="post" ).form-horizontal
				+csrf

				h3 Account details

				+input( 'email', 'Email', 'email', { value: member.email, required: true, helpblock: "This will change the users login details.", left: 3, right: 4 } )
				+input( 'text', 'First Name', 'firstname', { value: member.firstname, required: true, left: 3, right: 4 } )
				+input( 'text', 'Last Name', 'lastname', { value: member.lastname, required: true, left: 3, right: 4 } )

				h3 Delivery details
				+input( 'text', 'Address line 1', 'delivery_line1', { value: member.delivery_address.line1, left: 3, right: 4 } )
				+input( 'text', 'Address line 2', 'delivery_line2', { value: member.delivery_address.line2, left: 3, right: 4 } )
				+input( 'text', 'City/town', 'delivery_city', { value: member.delivery_address.city, left: 3, right: 4 } )
				+input( 'text', 'Postcode', 'delivery_postcode', { value: member.delivery_address.postcode, left: 3, right: 4 } )
				+form_button( 'Update', 'primary' )
