extends /src/views/base.pug

block prepend title
	- title = "Change Password"

block append js
	script( src="/js/password-requirements.js" )

block append css
	link( rel="stylesheet", href="/css/password-requirements.css" )

block contents
	.row
		.col-md-3
			- page = 'change-password'
			include partials/sidebar.pug
		.col-md-9
			.page-header
				h3 Change Password
			form( method="post" ).form-horizontal
				+csrf
				.form-group
					label( for="current" ).col-md-3.control-label Current Password
					.col-md-5
						input( type="password", name="current", required )#current.form-control
				.form-group
					label( for="new" ).col-md-3.control-label New Password
					.col-md-5
						input( type="password", name="new", required )#new.form-control.pw-req
				.form-group
					label( for="verify" ).col-md-3.control-label Verify new password
					.col-md-5
						input( type="password", name="verify", required )#verify.form-control.pw-mat
				.form-group
					.col-md-5.col-md-offset-3
						button.btn.btn-primary Update Password
