extends ../../../src/views/base.pug

block prepend title
	- title = "Change Password"

block append js
	script( type="text/javascript" ).
		jQuery(document).ready(function($) {
			jQuery( '#new' ).popover( {
				trigger: 'focus',
				title: 'Password requirements:',
				content: '<p class="pw len">8 characters or more</p><p class="pw up">1 or more uppercase letters</p><p class="pw low">1 or more lowercase letters</p><p class="pw num">1 or more numbers</p>',
				html: true
			} );
			jQuery( '#new' ).on( 'keyup paste', function( e ) {
				var pw = jQuery( this ).val();

				if ( pw.length < 8 ) {
					jQuery( '.pw.len' ).removeClass( 'pass' );
				} else {
					jQuery( '.pw.len' ).addClass( 'pass' );
				}

				if ( pw.match( /\d/g ) == null ) {
					jQuery( '.pw.num' ).removeClass( 'pass' );
				} else {
					jQuery( '.pw.num' ).addClass( 'pass' );
				}

				if ( pw.match( /[A-Z]/g ) == null ) {
					jQuery( '.pw.up' ).removeClass( 'pass' );
				} else {
					jQuery( '.pw.up' ).addClass( 'pass' );
				}

				if ( pw.match( /[a-z]/g ) == null ) {
					jQuery( '.pw.low' ).removeClass( 'pass' );
				} else {
					jQuery( '.pw.low' ).addClass( 'pass' );
				}
			} );
		} );

block append css
	style.
		.pw {
			line-height: normal;
			margin-bottom: 0.5em;
			width: 15em;
		}

		.pw:last-child {
			margin-bottom: 0;
		}

		.pw:before {
			font-family: "Glyphicons Halflings";
			content: "\e014";
			color: #d9534f;
			margin-right: 0.5em;
			vertical-align: middle;
		}

		.pw.pass:before {
			content: "\e013";
			color: #5cb85c;
		}

block contents
	.row
		.col-md-3
			- page = 'change-password'
			include partials/sidebar.pug
		.col-md-9
			.page-header
				h3 Change Password
			form( method="post" ).form-horizontal
				.form-group
					label( for="current" ).col-md-3 Current Password
					.col-md-5
						input( type="password", name="current", required )#current.form-control
				.form-group
					label( for="new" ).col-md-3 New Password
					.col-md-5
						input( type="password", name="new", required )#new.form-control
				.form-group
					label( for="verify" ).col-md-3 Verify new password
					.col-md-5
						input( type="password", name="verify", required )#verify.form-control
				.form-group
					.col-md-5.col-md-offset-3
						button.btn.btn-primary Update Password
