extends /src/views/base.pug

block contents
	if access( 'admin' )
		.row
			.col-md-12
				.alert.alert-info Admin account

	if user.memberPermission
		.row
			.col-md-3
				- page = 'home'
				include partials/sidebar.pug
			.col-md-9
				.page-header
					h3 Hello #{ user.firstname }

				p Welcome to your new online Cable membership.
				p From here you can manage all your account details.

				if !user.gocardless.subscription_id
					.alert.alert-warning
						| You cancelled your contribution and your membership
						| will expire on
						|
						= moment(user.memberPermission.date_expires).format('dddd, MMMM Do YYYY')
						| .
					p.
						To restart your contribution please contact
						#[+email('membership@thebristolcable.org')].

				dl
					dt Joined
					dd #{ moment( user.joined ).format('Do MMMM YYYY') }
					if user.memberPermission.date_expires >= moment()
						dt Contribution
						dd.
							£#{ user.gocardless.actualAmount }/#{ user.gocardless.period }
