form( method="post" ).form-horizontal
	+csrf
	+input( 'text', 'Name', 'name', { value: ( permission ? permission.name : '' ), required: true } )
	+input( 'text', 'Slug', 'slug', { value: ( permission ? permission.slug : '' ), required: true, helpblock: 'Used by the API for verifying permissions' } )
	+input( 'text', 'Description', 'description', { value: ( permission ? permission.description : '' ), required: true, helpblock: 'Displayed on member pages to explain what the permission allows' } )
	
	+page_header( 'Event Logging' )
	+input( 'text', 'Authorised', 'event', { value: ( permission ? permission.event_name : '' ), helpblock: 'What text should appear in the event log when this permission is used with the API successfully' } )
	+input( 'text', 'Unauthorised', 'event_unauthorised', { value: ( permission ? permission.event_unauthorised : '' ), helpblock: 'What text should appear in the event log when the user is prevented from using this permission on the API' } )
	
	+page_header( 'Discourse Group' )
	+input( 'text', 'ID', 'group_id', { value: ( permission ? permission.group.id : '' )} )
	+input( 'text', 'Name', 'group_name', { value: ( permission ? permission.group.name : '' ) } )
	+input( 'text', 'Primary Group Order', 'group_order', { value: ( permission ? permission.group.order : '' ) } )
	
	+form_button( action )
