form( method="post" )
	p
		label( for="name" ) Name:
		input( name="name", type="text", value=( permission ? permission.name : '' ), required )#name.form-control
	p
		label( for="slug" ) Slug:
		input( name="slug", type="text", value=( permission ? permission.slug : '' ), required )#slug.form-control
	p
		label( for="description" ) Description:
		input( name="description", type="text", value=( permission ? permission.description : '' ) )#description.form-control
	p
		label( for="superadmin_only" ) Require Super Admin:
		input( checked=( permission ? permission.superadmin_only : false ), name="superadmin_only", type="checkbox" )#superadmin_only.form-control
		small Should granting, editing and modification of this permission be limited to Super Admin users?
	h3 Event logging
	p
		label( for="event" ) Authorised:
		input( name="event", type="text", value=( permission ? permission.event_name : '' ) )#event.form-control
		p
			label( for="event_unauthorised" ) Unauthorised:
			input( name="event_unauthorised", type="text", value=( permission ? permission.event_unauthorised : '' ) )#event_unauthorised.form-control
	h3 Discourse Group
	p
		label( for="group_id" ) ID:
		input( name="group_id", type="text", value=( permission ? permission.group.id : '' ) )#group_id.form-control
	p
		label( for="group_name" ) Name:
		input( name="group_name", type="text", value=( permission ? permission.group.name : '' ) )#group_name.form-control
	p
		label( for="group_order" ) Primary Group Order:
		input( name="group_order", type="text", value=( permission ? permission.group.order : '' ) )#group_order.form-control
	p: button.btn.btn-primary #{ action }
