extends /src/views/base.pug

block prepend title
	- title = app.title
	- heading = title
	- activeapp = 'reports'

block contents
	.panel.panel-default
		.panel-body This map shows all accounts ever created. It gives an idea of the catchment area of the space.
	#map.col-m-12( style="height: 40em;" )
	script( type="text/javascript" ).
		var map;
		var markers = [];
		var heatmapData = [];
		function initMap() {
			map = new google.maps.Map( document.getElementById( 'map' ), {
				center: { lat: 51.4511044, lng: -0.1018774 },
				zoom: 12
			});
			jQuery.getJSON('/reports/catchment/data.json', function( data ) {
				for( var d in data ) {
					var pos = new google.maps.LatLng( data[d].lat, data[d].lng );
					heatmapData.push( pos );
					/*addMarker( pos );*/
				}
				var heatmap = new google.maps.visualization.HeatmapLayer( {
					data: heatmapData,
					radius: 50
				} );
				heatmap.setMap(map);
			} )
		}
		function addMarker( pos ) {
			var marker = new google.maps.Marker( {
				map: map,
				position: pos
			} );
			markers.push( marker );
		}
	script( src="https://maps.googleapis.com/maps/api/js?key=" + Options( 'google-maps-key' ) + "&callback=initMap&libraries=visualization" async defer )
