extends /src/views/base.pug

block prepend title
	- title = app.title
	- heading = title
	- activeapp = 'reports'

block append css
	link( rel="stylesheet", href="/static/css/leaflet.css" )

block append js
	script( src="/static/js/leaflet.js" )
	script( src="/static/js/leaflet-heat.js" )
	script.
		var map = L.map('map').setView([51.462393, -2.591030], 12);

		var osmUrl='https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png';
		var osmAttrib='Map data © <a href="https://openstreetmap.org">OpenStreetMap</a> contributors';
		new L.TileLayer(osmUrl, {minZoom: 8, maxZoom: 12, attribution: osmAttrib}).addTo(map);

block contents
	.panel.panel-default
		.panel-body This map shows all accounts ever created. It gives an idea of the catchment area of the space.
	#map.col-m-12( style="height: 40em;" )
