extends /src/views/email.text.pug

block content
	| Hello #{ firstname }
	| #{'\n'}
	| The password to your #{ Options( 'organisation' ) } account has been changed.
	| #{'\n'}
	| If you didn't do this please contact us ASAP.
